<a href="https://colab.research.google.com/github/kamo1010/injury-big-data/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install --upgrade category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.10/dist-packages (2.6.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.23.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.10.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.14.0)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.5.3)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.2.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.9.0->category_encoders) (23.1)

In [ ]:
pip install --upgrade catboost

Requirement already satisfied: catboost in /usr/local/lib/python3.10/dist-packages (1.2)
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost) (0.20.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from catboost) (3.7.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.23.5)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.5.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from catboost) (1.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost) (5.15.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (4.42.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (3.1.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->catboost) (8.2.3)

In [41]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
from sklearn.metrics import classification_report
from sklearn.utils.class_weight import compute_class_weight
from sklearn.model_selection import cross_val_score, StratifiedKFold, train_test_split
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import StandardScaler, OneHotEncoder, PowerTransformer, PolynomialFeatures
from category_encoders import WOEEncoder, BinaryEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier

In [283]:
df = pd.read_csv("sample_data/labels.csv", sep=",", encoding= 'utf-8')
df = df.loc[:, df.isna().sum()<712]
df.drop(columns=['연번', '비고'], inplace=True)

df.rename(columns = {'년도':'year', '월':'month', '일':'day', '평일/주말': 'day_of_week', '주야간':'day_or_night', '시간대':'period'}, inplace = True)
df.rename(columns = {'호기':'vehicle_number', '기상\r\n조건':'weather', '임무\r\n지시':'order', '상급부대': 'location', '환자신분':'patient_category', '환자\r\n증상':'injury'}, inplace = True)
df.rename(columns = {'환자유형 (외상 / 골절 / 심장 / 뇌 / 화상 / 기타)':'injury_type', '접수/이륙':'registration_takeoff', '출동시간':'departure_delay', '환자 인수지역 (PZ)': 'pz', 'PZ 도착/이륙':'pz_arrival_takeoff', '환자 후송지역 (LZ)':'lz'}, inplace = True)
df.rename(columns = {'LZ도착':'lz_arrival', '복귀이륙/복귀도착':'takeoff_arrival_at_basement', '출동~병원':'transfer_delay', '후송결과': 'y', '기상악화':'weather_deterioration', '호이스트': 'hoist'}, inplace = True)
df.columns

df.head()

,year,month,day,day_of_week,day_or_night,period,vehicle_number,weather,order,location,...,pz,pz_arrival_takeoff,lz,lz_arrival,takeoff_arrival_at_basement,transfer_delay,y,NFL,hoist,weather_deterioration
0,2015,5,4,월,주간,12~18,NaN,GO,포천,5군단,...,일동병원,1500/\r\n1505,수도병원,1524,1526/\r\n1557,32분,생존,긴급후송,NaN,NaN
1,2015,5,13,수,주간,12~18,NaN,GO,춘천,7군단,...,홍천병원,1302/\r\n1315,수도병원,1351,1533/\r\n1600,61분,생존,,NaN,NaN
2,2015,5,14,목,주간,12~18,NaN,GO,포천,동원전력사,...,"운천,\r\n중군봉패드",1234/\r\n1236,수도병원,1259,1303/\r\n1327,43분,생존,긴급후송,NaN,NaN
3,2015,5,15,금,주간,12~18,NaN,GO,춘천,3군단,...,춘천병원,1712/\r\n1713,수도병원,1737,1759/\r\n1830,30분,생존,,NaN,NaN
4,2015,5,18,월,주간,12~18,NaN,GO,춘천,7군단,...,"인제, 2사단 17연대패드",1217/\r\n1219,수도병원,1253,1320/\r\n1355,51분,생존,,NaN,NaN

In [284]:
def fit_y(x):
  x = str(x).replace("\r\n", "")
  x = x.replace(" ", "")
  if '생존' in x: x = '생존'
  if '사망' in x: x = '사망'
  return pd.Series([x])

df.dropna(subset=['y', 'pz_arrival_takeoff', 'takeoff_arrival_at_basement'])
df[['y']] = df.y.apply(lambda x:fit_y(x))[df.y.isin(['생존', '사망'])]
df['y'].value_counts()

df.period = df.period.apply(lambda x:x.replace(" ~ ", "~"))
df.replace({"00~07": "00~06", "12~19": "12~18"}, inplace=True)
df['period'].value_counts()

df.fillna(value={'vehicle_number':0.}, inplace=True)

df.replace({"00~07": "00~06", "12~19": "12~18"}, inplace=True)
df['period'].value_counts()

df.weather = df.weather.apply(lambda x:x.replace(' ', ''))
df['weather'].value_counts()
df['weather'] = df['weather'].map({'NO-GO':0, 'GO':1, 1:1, 0:0})

df['day_or_night'] = df['day_or_night'].map({'주간':1, '야간':0, 1:1, 0:0})

def fit_order(x):
  x.replace(' ', '')
  x.replace('예비', '')
  if ('/' in x):
    return pd.Series(x.split('/'))
  return pd.Series([x, ])
df[['order', 'change']] = df.order.apply(lambda x:fit_order(x))
df[['order', 'change']].value_counts()
df.loc[df['order']=='용인예비']

def fit_patient_category(x):
  if x in ['-', '???']:
    x.replace(x, '?')
  if x in ['장교', '부사관', '준사관']:
    x.replace(x, '간부')
  if x in ['장교\r\n병' '간부, 병', '간부/병']:
    x.replace(x, '간부/병')
    return pd.Series(x.split('/'))
  return pd.Series([x])
df[['patient_category', 'company']] = df.patient_category.apply(lambda x:fit_patient_category(x))
tmp = df.loc[df['company']=='병']
tmp['patient_category'] = tmp['company']
pd.concat([df, tmp])
df.drop(columns=['company'], inplace=True)

def fit_injury_type(x):
  categories = ["외상", "골절", "심장", "뇌", "호상", "절단", "의식저하", "폐", "기타"]
  for val in categories:
    if val in x:
      x = val
  if x in [""]:
    x = "뇌"
  if x not in categories:
    x = x
  return pd.Series([x])

df[['injury_type']] = df.injury_type.apply(lambda x:fit_injury_type(x))
df['injury_type'].unique()
#df.loc[df['injury_type'].contains("정단")]

def fit_registration_takeoff(x):
  x = x.replace("\r\n", "")
  x = x.replace(" ", "")
  x = x.replace("(용인)", "")
  if len(x) == 4: x = x+"/"+x
  if len(x) == 8: x = x[:4]+"/"+x[4:]
  if len(x) == 13: x = x[:4]+"/"+x[9:]
  if x == "1757/1618": x = "1557/1618"
  if x == "2250/2058": x = "2250/2358"
  if x == "1159/0137": x = "2359/0137"
  return pd.Series([x])
df[['registration_takeoff']] = df.registration_takeoff.apply(lambda x:fit_registration_takeoff(x))
df['registration_takeoff'].unique()

def diff_delay(x):
  tmp = x.split("/")
  if tmp[1] == '000-': return pd.Series([x])
  h = int(tmp[1][:2])-int(tmp[0][:2])
  if h < 0: h = 24+h
  r = h*60+(int(tmp[1][2:])-int(tmp[0][2:]))
  if r < 0: r = 1440+r
  return pd.Series([r])

df[['departure_delay']] = df.registration_takeoff.apply(lambda x:diff_delay(x))
df['departure_delay'].unique()

def fit_pz(x):
  x = x.split("(")[0]
  x = x.replace("\r\n ", "\r\n")
  x = x.replace("\r\n", " ")
  x = x.replace(",", "")
  x = x.replace(" ", "")
  x = x.replace("패드", " PAD")
  x = x.replace(" PAD", "PAD")
  return pd.Series([x])
df[['pz']] = df.pz.apply(lambda x:fit_pz(x))
df['pz'].value_counts()

def fit_pz_arrival_takeoff(x):
  x = x.replace("\r\n", "")
  x = x.replace(" ", "")
  if len(x) == 4: x = x + "/" + x
  if len(x) == 5:
    if x[0] == "/": x = x[1:] + x
    else: x = x + x[:4]
  return pd.Series([x])
df[['pz_arrival_takeoff']] = df[df.pz_arrival_takeoff.notnull()].query("pz_arrival_takeoff != '-'").query("pz_arrival_takeoff != '×'").pz_arrival_takeoff.apply(lambda x:fit_pz_arrival_takeoff(x))
df['pz_arrival_takeoff'].unique()

def fit_lz(x):
  x = str(x).replace("\r\n", " ")
  return pd.Series([x])

df = df[df.lz.notnull()].query("lz != '-'")
df[['lz']] = df.lz.apply(lambda x:fit_lz(x))
df['lz'].value_counts()

def fit_lz_arrival(x):
  x = str(x).replace("\r\n", "")
  x = x.replace("/", "")
  x = x.replace("`", "")
  if x == '2:54': x = '0254'
  for i in range(4-len(x)):
    x = '0'+x
  return pd.Series([x])
df[['lz_arrival']] = df.query("lz_arrival != '×'").lz_arrival.apply(lambda x:fit_lz_arrival(x))
df['lz_arrival'].unique()

def fit_takeoff_arrival_at_basement(x):
  x = str(x).replace("\r\n", "")
  x = x.replace(" ", "")
  if len(x) == 4: x = x + "/" + x
  if len(x) == 5: x = x + "/" + x[:4]
  if len(x) == 10: x = x[1:]
  return pd.Series([x])

df[['takeoff_arrival_at_basement']] = df.takeoff_arrival_at_basement.apply(lambda x:fit_takeoff_arrival_at_basement(x))
df = df[df.takeoff_arrival_at_basement.notnull()].query("takeoff_arrival_at_basement != '×'")
df = df.query("takeoff_arrival_at_basement != ''").query("takeoff_arrival_at_basement != '2048/221'").query("takeoff_arrival_at_basement != '2037/9일2033'")
df['takeoff_arrival_at_basement'].unique()

df["transfer_delay"] = df.registration_takeoff.apply(lambda x:x.split("/")[1]) + '/' + df.lz_arrival
df["transfer_delay"].unique()
df[['transfer_delay']] = df.transfer_delay.apply(lambda x:diff_delay(x))

def fit_hoist(x):
  if x in ['호이스트', 'UH-60', '추가임무\r\n연속실시']: return pd.Series([1])
  return pd.Series([0])

df[['hoist']] = df.hoist.apply(lambda x:fit_hoist(x))

def fit_weather_deterioration(x):
  x = str(x)
  if "계기" in x: x = "계기"
  if "악화" in x: x = "악화"
  else: x = "정상"
  return pd.Series([x])

df[['weather_deterioration']] = df.weather_deterioration.apply(lambda x:fit_weather_deterioration(x))

def fit_nfl(x):
  x = str(x)
  if "긴급" in x: x = "긴급"
  if "NFL" in x: x = "NFL"
  else: x = "정상"
  return pd.Series([x])

df[['NFL']] = df.NFL.apply(lambda x:fit_nfl(x))

In [285]:
df.head(500)

,year,month,day,day_of_week,day_or_night,period,vehicle_number,weather,order,location,...,pz_arrival_takeoff,lz,lz_arrival,takeoff_arrival_at_basement,transfer_delay,y,NFL,hoist,weather_deterioration,change
0,2015,5,4,월,1,12~18,0.0,1,포천,5군단,...,1500/1505,수도병원,1524,1526/1557,32,생존,정상,0,정상,NaN
1,2015,5,13,수,1,12~18,0.0,1,춘천,7군단,...,1302/1315,수도병원,1351,1533/1600,61,생존,정상,0,정상,NaN
2,2015,5,14,목,1,12~18,0.0,1,포천,동원전력사,...,1234/1236,수도병원,1259,1303/1327,43,생존,정상,0,정상,NaN
3,2015,5,15,금,1,12~18,0.0,1,춘천,3군단,...,1712/1713,수도병원,1737,1759/1830,30,생존,정상,0,정상,NaN
4,2015,5,18,월,1,12~18,0.0,1,춘천,7군단,...,1217/1219,수도병원,1253,1320/1355,51,생존,정상,0,정상,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,2021,4,6,화,1,12~18,3.0,1,포천,5군단,...,1626/1630,수도병원,1654,1658/1731,40,생존,정상,0,정상,NaN
503,2021,4,9,금,1,12~18,3.0,1,포천,6군단,...,1154/1156,수도병원,1214,1216/1251,25,생존,정상,0,정상,NaN
504,2021,4,10,토,1,12~18,4.0,1,춘천,2군단,...,1351/1354,수도병원,1431,1435/1503,56,생존,NFL,0,정상,NaN
505,2021,4,13,화,1,12~18,6.0,1,용인,지작사,...,1754/1759,수도병원,1812,1817/1826,26,생존,정상,0,정상,NaN
506,2021,4,14,수,1,12~18,3.0,1,포천,6군단,...,1153/1158,수도병원,1226,1228/1238,47,생존,NFL,0,정상,NaN

In [286]:
scaler = StandardScaler()
onehot = OneHotEncoder(handle_unknown='ignore', sparse=False)
cv = StratifiedKFold(n_splits=5, random_state=1, shuffle=True)
df

,year,month,day,day_of_week,day_or_night,period,vehicle_number,weather,order,location,...,pz_arrival_takeoff,lz,lz_arrival,takeoff_arrival_at_basement,transfer_delay,y,NFL,hoist,weather_deterioration,change
0,2015,5,4,월,1,12~18,0.0,1,포천,5군단,...,1500/1505,수도병원,1524,1526/1557,32,생존,정상,0,정상,NaN
1,2015,5,13,수,1,12~18,0.0,1,춘천,7군단,...,1302/1315,수도병원,1351,1533/1600,61,생존,정상,0,정상,NaN
2,2015,5,14,목,1,12~18,0.0,1,포천,동원전력사,...,1234/1236,수도병원,1259,1303/1327,43,생존,정상,0,정상,NaN
3,2015,5,15,금,1,12~18,0.0,1,춘천,3군단,...,1712/1713,수도병원,1737,1759/1830,30,생존,정상,0,정상,NaN
4,2015,5,18,월,1,12~18,0.0,1,춘천,7군단,...,1217/1219,수도병원,1253,1320/1355,51,생존,정상,0,정상,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,2023,5,23,화,1,12~18,1.0,1,용인,7군단,...,1441/1443,수도병원,1458,1502/1515,28,생존,정상,0,정상,NaN
712,2023,5,24,수,1,06~12,8.0,1,양구,3군단,...,1143/1155,수도병원,1233,1235/1309,60,생존,정상,0,정상,NaN
713,2023,5,24,수,1,12~18,8.0,1,양구,2군단,...,1416/1425,수도병원,1450,1451/1535,45,생존,정상,0,정상,NaN
714,2023,5,31,수,1,12~18,5.0,1,포천,5군단,...,1800/1805,수도병원,1827,1830/1855,34,생존,정상,0,정상,NaN
715,2023,6,2,금,1,12~18,6.0,1,양구,3군단,...,1249/1252,수도병원,1329,1333/1407,51,생존,정상,0,정상,NaN

In [ ]:
model_logr = LogisticRegression(random_state=0)
# Split the data into features (X) and target (y)
X = df.drop('y', axis=1)
y = df['y']

scaler = StandardScaler()
onehot = OneHotEncoder(handle_unknown='ignore', sparse=False)
cv = StratifiedKFold(n_splits=5, random_state=1, shuffle=True)
feature = SelectFromModel(model_logr, threshold=0.001)
ct = ColumnTransformer([('onehot', onehot, cat_var), ('scaler', scaler, con_var)], remainder='passthrough', n_jobs=-1)

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
scores = cross_val_score(model_logr, X_train, y_train, scoring='accuracy', cv=cv, n_jobs=-1, verbose=0)

ValueError: ignored